<h3> <%= comment.author %> </h3>
<p> <%= comment.published_on %> </p>
<p> <%= comment.content %> </p>
<% if comment.author && can?(:update,comment)  %>
    <p><%= link_to "Edit Comment", edit_post_comment_path(@post,comment) %>
<% end %>
<% if comment.author && can?(:destroy,comment)  %>
    <%= link_to "Delete Comment", [@post,comment],:confirm => "Are you sure?" , :method => :delete %></p>
<% end %>

