<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <% if flash[:alert] %>
     <p id="notice"><%= flash[:alert] %> </p>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>  
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :post_tags %>
  </div>
  <div class="field">
    <%= f.label :published_on %><br />
    <%= f.datetime_select :published_on %>
  </div>


  <div class="field">
    <%= f.label :author %><br />
    <%= select_tag(:author,options_from_collection_for_select(User.all,:_id,:nick_name),:multiple=>true,:size=>3) %>
    <%= options_from_collection_for_select(User.all,:_id,:nick_name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

