
<h2>  <%= @post.title %> </h2>
<p>
  <%= @post.published_on %>
</p>
<p>
  <%= @post.content %>
</p>
<p> Author(s) : <%= @post.authors %> </p>
<p> Tags : <%= @post.get_tags || "None" %> </p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<% if @post.comments.size > 0 %>
<h2> Comments </h2>
<%= render @post.comments %>
<% end %>

<h2> New Comment </h2>
<%= render 'comments/new' %>
