<!DOCTYPE html>
<html>
<head>
  <title>MongoidDeviseBlog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min','rails'%>
  <%= csrf_meta_tag %>
</head>
<body>
<p id="notice"><%= flash[:notice] %> </p>
<%= yield %>

</body>
</html>
